<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <property name="M_PI" value="3.1415926535897931" />
 
  <macro name="m3_r_palm_transmission">

<!-- Start Thumb -->
  <transmission name="m3joint_ua_${R_HAND}_t0" type="pr2_mechanism_model/SimpleTransmission">
    <actuator name="m3joint_ua_${R_HAND}_a0"/>
    <joint name="m3joint_ua_${R_HAND}_j0"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>

  
    <transmission name="m3joint_ua_${R_HAND}_t1" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a1"/>
      <joint name="m3joint_ua_${R_HAND}_j1"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>

    <transmission name="m3joint_ua_${R_HAND}_t2" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a2"/>
      <joint name="m3joint_ua_${R_HAND}_j2"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


<!-- Start Index Finger -->
    <transmission name="m3joint_ua_${R_HAND}_t3" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a3"/>
      <joint name="m3joint_ua_${R_HAND}_j3"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


    <transmission name="m3joint_ua_${R_HAND}_t4" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a4"/>
      <joint name="m3joint_ua_${R_HAND}_j4"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


    <transmission name="m3joint_ua_${R_HAND}_t5" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a5"/>
      <joint name="m3joint_ua_${R_HAND}_j5"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


<!-- Start Ring Finger -->
    <transmission name="m3joint_ua_${R_HAND}_t6" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a6"/>
      <joint name="m3joint_ua_${R_HAND}_j6"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


    <transmission name="m3joint_ua_${R_HAND}_t7" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a7"/>
      <joint name="m3joint_ua_${R_HAND}_j7"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


    <transmission name="m3joint_ua_${R_HAND}_t8" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a8"/>
      <joint name="m3joint_ua_${R_HAND}_j8"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


<!-- Start Pinky Finger -->
    <transmission name="m3joint_ua_${R_HAND}_t9" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a9"/>
      <joint name="m3joint_ua_${R_HAND}_j9"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


    <transmission name="m3joint_ua_${R_HAND}_t10" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a10"/>
      <joint name="m3joint_ua_${R_HAND}_j10"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>


    <transmission name="m3joint_ua_${R_HAND}_t11" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_ua_${R_HAND}_a11"/>
      <joint name="m3joint_ua_${R_HAND}_j11"/>
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>

</macro>

  <macro name="m3_r_hand_transmission">
    <m3_r_palm_transmission/>
  </macro>


</robot>
