<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="m3" >

  <transmission name="m3joint_${TORSO}_t0" type="pr2_mechanism_model/SimpleTransmission">
    <actuator name="m3joint_${TORSO}_a0" />
    <joint name="m3joint_${TORSO}_j0" />
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>
  <transmission name="m3joint_${TORSO}_t1" type="pr2_mechanism_model/SimpleTransmission">
    <actuator name="m3joint_${TORSO}_a1" />
    <joint name="m3joint_${TORSO}_j1" />
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>
  <transmission name="m3joint_slave_${TORSO}_t2" type="pr2_mechanism_model/SimpleTransmission">
    <actuator name="m3joint_slave_${TORSO}_a2" />
    <joint name="m3joint_slave_${TORSO}_j2" />
    <mechanicalReduction>1</mechanicalReduction>
  </transmission>

</robot>
