<launch>

  
  <include file="$(find meka_description)/robots/upload_meka.launch" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_meka_model" pkg="gazebo" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model meka" respawn="false" output="screen" />

  <!-- default bringup script -->
  <include file="$(find meka_gazebo)/launch/meka_bringup.launch" />

</launch>

