[submodule "m3core"]
	path = m3core
	url = https://github.com/ahoarau/m3core.git

[submodule "m3meka"]
	path = m3meka
	url = https://github.com/ahoarau/m3meka.git

[submodule "m3ens"]
	path = m3ens
	url = https://github.com/ahoarau/m3ens.git

[submodule "meka-ros-pkg"]
	path = meka-ros-pkg
	url = https://github.com/ahoarau/meka-ros-pkg.git

[submodule "meka-cmake-modules"]
	path = meka-cmake-modules
	url = https://github.com/ahoarau/meka-cmake-modules.git

[submodule "holomni_pcv"]
	path = holomni_pcv
	url = https://github.com/ahoarau/holomni_pcv.git
[submodule "meka_omnibase_control"]
	path = meka_omnibase_control
	url = https://github.com/francoisferland/meka_omnibase_control.git
