[submodule "m3ens-tutos"]
	path = m3ens-tutos
	url = git://scm.gforge.inria.fr/m3ens-tutos/m3ens-tutos.git
[submodule "m3ens"]
	path = m3ens
	url = git://scm.gforge.inria.fr/m3ens/m3ens.git
[submodule "m3ens-demos"]
	path = m3ens-demos
	url = git://scm.gforge.inria.fr/m3ens-demos/m3ens-demos.git
