<launch>

  <!-- Load URDF in param server -->
  <include file="$(find meka_description)/robots/upload_meka.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>



</launch>