<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  

  <macro name="m3_l_shoulder_transmission" params="side parent reflect *origin">
    <!-- Shoulder pan -->
    <transmission name="m3joint_${L_ARM}_t0" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a0" />
      <joint name="m3joint_${L_ARM}_j0" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
    <!-- Shoulder lift -->
    <transmission name="m3joint_${L_ARM}_t1" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a1" />
      <joint name="m3joint_${L_ARM}_j1" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
    <!-- Upperarm roll: internal fixed attchment point for upper arm -->
    <transmission name="m3joint_${L_ARM}_t2" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a2" />
      <joint name="m3joint_${L_ARM}_j2" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
  </macro>



  <!-- ============================   Upper Arm   ============================ -->


  <macro name="m3_l_upper_arm_transmission" params="side parent reflect">
    <transmission name="m3joint_${L_ARM}_t3" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a3" />
      <joint name="m3joint_${L_ARM}_j3" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
    <!-- Elbow flex -->
    <transmission name="m3joint_${L_ARM}_t4" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a4" />
      <joint name="m3joint_${L_ARM}_j4" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
  </macro>


  <!-- ============================   Forearm   ============================ -->
  <macro name="m3_l_forearm_transmission" params="side parent reflect">
    <transmission name="m3joint_${L_ARM}_t5" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a5" />
      <joint name="m3joint_${L_ARM}_j5" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
    <!-- Wrist flex -->
    <transmission name="m3joint_${L_ARM}_t6" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="m3joint_${L_ARM}_a6" />
      <joint name="m3joint_${L_ARM}_j6" />
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>
  </macro>



  <macro name="m3_l_arm_transmission" params="side parent reflect *origin">
    <m3_l_shoulde_transmissionr side="${side}" reflect="${reflect}" parent="${parent}"/>
    <m3_l_upper_ar_transmissionm side="${side}" reflect="${reflect}" parent="bicep_LEFT" />
    <m3_l_forear_transmissionm side="${side}" reflect="${reflect}" parent="wrist_LEFT" />

    
  </macro>


</robot>
