<launch>

  <!-- send pr2_l_arm.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find meka_description)/robots/simc.urdf.xacro'" />

  <node pkg="rviz" type="rviz" respawn="false" output="screen" name="rviz"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
  </node>

<!--  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node> -->

</launch>

