#!/usr/bin/make -f
export DH_OPTIONS

PYVERS := $(shell pyversions -r)

# Add any configure flag below
CONFIGURE := 

build: build-stamp
build-stamp:
	dh_testdir
	./configure $(CONFIGURE)
	$(MAKE)

	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	dh_auto_install --install-layout=deb

clean:
	dh_testdir
	./autogen.sh
	./configure
	$(MAKE) clean 
	dh_clean

binary: binary-indep binary-arch
binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_strip
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
