<launch>


<rosparam command="load" file="$(find meka_controller_configuration_gazebo)/config/meka_joint_position_controllers.yaml" />


  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=calibrated 
	m3joint_ma10_j0_position_controller 
	m3joint_ma10_j1_position_controller
	m3joint_ma10_j2_position_controller
	m3joint_ma10_j3_position_controller
	m3joint_ma10_j4_position_controller
	m3joint_ma10_j5_position_controller
	m3joint_ma10_j6_position_controller" />


</launch>
