<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="m3" >

 <property name="M_PI" value="3.1415926535897931" />
 <property name="R_HAND" value="mh12" />
 <property name="L_HAND" value="mh14" />
 <property name="MESH" value="m3_description/meshes/mid_res" />
 <property name="MESH_COLL" value="m3_description/meshes/low_res" />

 

<!-- Meka Hand -->
<include filename="$(find m3_description)/urdf/H2R2_r_hand_defs.urdf.xacro" />
  <include filename="$(find m3_description)/urdf/H2R2_l_hand_defs.urdf.xacro" />  
  
  <material name="GreyA"> <!-- darkest -->
	  <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  
  <material name="GreyB">
	  <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  
  <material name="GreyC">
	  <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
    
  <link name="world" />
  
  <m3_r_hand side="r" reflect="0" parent="world">
    <origin xyz="0.0 0.2 0.0" rpy="0 0 0" />
  </m3_r_hand>
<m3_l_hand side="l" reflect="0" parent="world">
    <origin xyz="0.0 -0.2 0.0" rpy="0 0 0" />
  </m3_l_hand>

</robot>
  